<!DOCTYPE html>
<html lang="es">
  <head>
  <%- include('partials/head', {title:'Usuarios', style:['users'] }) %>
</head>
  <body>
    <%- include('partials/menu') %>
    
    <h1>Lista de Usuarios</h1>
<main>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <p><%= user.firstName %> - <%= user.email %></p>
        <a href="/users/<%= user.id %>">Ver detalles</a>
        <a href="/users/<%= user.id %>/edit">Editar</a>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('partials/footer') %>
<script type="module" src="../../routes/users.js"></script>
<script type="module" src="../../controllers/api/users.js"></script>
</body>
</html>
