<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Ely Shopping </title>
    <link rel="stylesheet" href="../public/css/edit-product.css"/>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/menu') %>

    <%- include('partials/header') %>
    <main>
        <h1>Listado de Productos</h1>
        <div>
        <a href="/create">Agregar Nuevo Producto</a>
        <ul class="product-list">
            <%= products.forEach(product => { %>
                <li class="product-item">
                    <img src="products.image" alt="products.name">
                    <div class="product-info">
                    <span><%= products.name %></span>
                     <span>$ <%= products.price %></span>
                    </div>
                    <div class="product-actions">
                    <a href="/product/product/:id/edit">Editar</a>
                    <form action="/products/product/:id ?_method=delete" method="POST" style="display:inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                </div>
                </li>
            <%= }) %>
        </ul>
    </div>
</main>
<%- include('partials/footer') %>
<script type="module" src="../routes/products.js"></script>
  <script type="module" src="../data/products.json"></script>
</body>
</html>