<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
</head>
    <%- include('partials/menu') %>
<body>
    <h1>Detalle Producto</h1>
    <h1><%= product.name %></h1>
    <p>Precio: <%= product.price %></p>
    <p>Descripción: <%= product.description %></p>

    <%- include('partials/footer') %>
</body>
<script type="module" src="../../routes/products.js"></script>
<script type="module" src="../../public/javascripts/product.js"></script>
</html>
