<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Ely Shopping %></title>
    <link rel="stylesheet" href="css/style.css"/>
    <%- include('partials/head') %>
  </head>
  <body>
    <!-- Inclui el menú -->
    <%- include('partials/menu') %>

    <!-- Inclui el header -->
    <%- include('partials/header') %>
      <main>
      <div class="container">
        <h1>Coleccion</h1>
          <div class="product-summary">
            <div class="product-card">
              <img
                src="./images/product/vestido_estampado_floral.jpg"
                alt="Vestido Estampado Floral"/>
              <h3>Vestido estampado floral manga de tiras</h3>
              <p> $ 100.00</p>
          </div>
          <div class="product-card">
              <img
                src="./images/product/vestido_cocktail.jpg"
                alt="Vestido Cocktail"/>
              <h3>Vestido cocktail metalico mangas</h3>
              <p> $ 89.00</p>
          </div>
          <div class="product-card">
              <img
                src="./images/product/vestido_de_jeans.jpg"
                alt="Vestido Jeans"/>
              <h3>Vestido de Jeans con abertura en pierna</h3>
              <p>$ 79.00</p>
          </div>
          <div class="product-card">
              <img
                src="./images/product/vestido_de_punto.jpg"
                alt="Vestido De Punto"/>
              <h3>Vestido de punto - Morgan</h3>
              <p>$ 70.00</p>
          </div>
          <div class="product-card">
              <img src="./images/product/vestido_camisero_v.jpg"
               alt="Vestido Camisero"/>
              <h3>Vestido camisero - VILA</h3>
              <p>$ 30.00</p>
          </div>
          <div class="product-card">
              <img src="./images/product/gabardina.jpg"
                alt="Gabardina"/>
              <h3>Gabardina - New Look</h3>
              <p>$ 69.99</p>
          </div>
        </div>
        <h1>Oferta</h1>
        <div class="product-summary">
          <div class="product-card">
              <img src="./images/product/play_up_shorts.jpg" alt="Shorts Deportivo"/>
              <h3>Shorts deportivo</h3>
              <p>$ 63.95</p>
          </div>
          <div class="product-card">
              <img
                src="./images/product/tropical_trian.jpg"
                alt="Camiseta estampada"/>
              <h3>Camiseta estampada - Guess</h3>
              <p>$ 23.75</p>
          </div>
          <div class="product-card">
              <img src= "miProyecto\public\images\product\love_wins.jpg" alt="Jersey con Capucha"/>
              <h3>Jersey con capucha - Puma</h3>
              <p>$ 36.00</p>
          </div>
      </div>
    </div>
    <h1>Listado de Productos</h1>
        <a href="/product/create-product">Agregar Nuevo Producto</a>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <a href="/product/<%= product.id %>"><%= product.name %></a>
                    - $<%= product.price %>
                    <a href="/product/<%= product.id %>/edit">Editar</a>
                    <form action="/product/<%= product.id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </main> 
    <!-- Inclui el footer -->
<%- include('partials/footer') %>
  </body>
</html>
