<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head',{title:'Editar ', style:['edit-product'] }) %>
</head>
<body>

    <!-- Inclui el menú -->
    <%- include('partials/menu') %>

    <main>
        <h1>Editar Producto</h1>
        <form action="/product/:id/edit"  method="PUT" >
            <label for="name">Nombre del Producto:</label>
            <input type="text" id="name" name="name" value="<%= product.name %>" required>
            
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" rows="4" required><%= product.description %></textarea>
            
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" step="0.01" value="<%= product.price %>" required>
            
            <label for="image">Imagen:</label>
            <input type="file" id="image" name="image" accept="image/*">
            <img src="<%= product.imagePath || '/images/product-placeholder.jpg' %>" alt="Imagen del Producto" style="max-width: 200px;">

            <button type="submit">Guardar Cambios</button>
        </form>
    </main>

    <!-- Inclui el footer -->
    <%- include('partials/footer') %>
    <script src="../../controllers/productController.js"></script>
</body>
</html>